<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    {{>header}}
    {{>navbar}}
    <h1>Employee Login form</h1>
    <fieldset>
      <legend>Login from</legend>
      <form action="/login" method="POST">
        E mail:<input type="text" name="email" placeholder="Enter Your Email"/><br />
        password:<input type="password" name="password" placeholder="Enter Password"/><br />
        <button type="submit" >Login</button>
      </form>
    </fieldset>
  </body>
</html>